/********** Template CSS **********/
:root {
    --primary:orangered;
    --secondary: rgb(252, 87, 72);
    --light:rgb(210, 23, 23);
    --dark: rgb(195, 72, 20);
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 600 !important;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
    background-color: rgb(254, 134, 70);
    box-shadow: 6px 8px 10px  red;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 35px 15px;
    color: var(--light);
    outline: none;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar.fixed-top {
    transition: .5s;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(255, 255, 255,.3);
        background: var(--dark);
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background:rgb(5, 3, 3,0.4);
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 600px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
    }
}

.header-carousel .owl-nav {
    position: relative;
    width: 80px;
    height: 80px;
    margin: -40px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-carousel .owl-nav::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transform: rotate(45deg);
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    position: relative;
    font-size: 40px;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.page-header {
    margin-bottom: 6rem;
    background:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Facts ***/
.fact-item {
    transition: .5s;
}

.fact-item:hover {
    margin-top: -10px;
    background:rgb(236, 145, 95) !important;
    box-shadow: 6px 8px 10px  red;
}


/*** About ***/
.img-twice::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 100%;
    top: 10%;
    left: 20%;
    background: red;
    border: 25px solid orange;
    border-radius: 6px;
    z-index: -1;
}


/*** Product ***/
.product-item {
    transition: .5s;
}
.product-container{
    background:rgb(254, 134, 70);
}

.product-item:hover {
    background:rgb(254, 134, 70)  !important;
}

.product-item:hover * {
    color: var(--light);
}

.product-item:hover .border-primary {
    border-color: var(--light) !important;
}

.product-item .product-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0,0.5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.product-item:hover .product-overlay {
    height: 100%;
    opacity: 1;
}


/*** Team ***/
.team-item .team-text {
    position: relative;
    height: 100px;
    overflow: hidden;
}

.team-item .team-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light);
    transition: .5s;
}

.team-item:hover .team-title {
    top: -100px;
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transition: .5s;
}

.team-item .team-social .btn {
    margin: 0 3px;
}

.team-item:hover .team-social {
    top: 0;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item img {
    width: 60px;
    height: 60px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 22px;
    color: var(--light);
    background: var(--primary);
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: var(--dark);
}
/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}    

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
}

.copyright {
    background: black;
}

.copyright a {
    color: var(--primary);
}

.copyright a:hover {
    color: var(--light);
}
.title{
    text-transform:uppercase;
    text-align:left;
    background-size:auto auto;
    background-size: auto;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    animation: textclip 2s linear inifinite;
    display:inline-block;
    padding-left:5px;
    font-size:40px;
    font-family:arial black;
    background-image:linear-gradient(90deg,rgb(250, 61, 61)0%,rgb(249, 108, 32)50%,rgb(254, 134, 70)75%,rgb(246, 85, 10)100%);
}
@keyframes textclip{
    to{
        background-position: left;
    }
}
.span{
    height:30vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:100px;  
    color:whitesmoke;   
}
@keyframes spanclip{
    to{
        background-position: left;
    }
}
span{
    display:inine-block;
    opacity:0;
    filter:blur(4px);
}
span:nth-child(1){
    animation:fade-in 0.8s 0.1s forwards cubic-bezier(0.11,0,0.5,0);
}
span:nth-child(2){
    animation:fade-in 0.8s 0.2s forwards cubic-bezier(0.11,0,0.5,0);
}
span:nth-child(3){
    animation:fade-in 0.8s 0.3s forwards cubic-bezier(0.11,0,0.5,0);
}
span:nth-child(4){
    animation:fade-in 0.8s 0.4s forwards cubic-bezier(0.11,0,0.5,0);
}
span:nth-child(5){
    animation:fade-in 0.8s 0.5s forwards cubic-bezier(0.11,0,0.5,0);
}
@keyframes fade-in{
    100%{opacity:1;
    filter:blur(0px);
    }
}
.quotes{
    text-align:left;
    font-size: 20px;
    font-family:papyrus;
    color:rgb(245, 82, 6);
    margin-top:40px;
    height:10vh;
}

.span1{
    height:17vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;  
    color:black;   
}
@keyframes spanclip{
    to{
        background-position: left;
    }
}
span{
    display:inine-block;
    opacity:0;
    filter:blur(4px);
}
span:nth-child(1){
    animation:fade-in 0.8s 0.3s forwards cubic-bezier(0.11,0,0.5,0);
}
span:nth-child(2){
    animation:fade-in 0.8s 0.6s forwards cubic-bezier(0.11,0,0.5,0);
}
span:nth-child(3){
    animation:fade-in 0.8s 0.8s forwards cubic-bezier(0.11,0,0.5,0);
}
span:nth-child(4){
    animation:fade-in 0.8s 1s forwards cubic-bezier(0.11,0,0.5,0);
}
span:nth-child(5){
    animation:fade-in 0.8s 1.2s forwards cubic-bezier(0.11,0,0.5,0);
}
@keyframes fade-in{
    100%{opacity:1;
    filter:blur(0px);
    }
}

/* Contact box */
.contact {
    position: relative;  
    width: 450px;         
    padding: 30px;
    margin: 100px auto;    
    border-radius: 20px;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    z-index: 1;            
}


.contact::before {    
    content: "";
    position: absolute;
    inset: 0;
    background: 
        linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
        url("/static/myapp/img/anuakkamrg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;          
    border-radius: 20px;
}


.contact input[type=text],
.contact input[type=email],
.contact textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid red;
    font-size: 14px;
}

.contact input[type=submit] {
    width: 100%;
    background-color: rgb(247, 59, 59);
    color: white;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 2px 4px 9px rgba(0,0,0,0.4);
    border: none;
    font-weight: 500;
    transition: 0.3s;
}

.contact input[type=submit]:hover {
    background-color: red;
    transform: scale(1.03);
}
.page-header{
    height:350px;
    position:relative;
    height:430px;
    overflow:hidden;
}
.page-header::before {    
    content: "";
    position: absolute;
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("../img/banner1.avif"); 
    background-position: center;
    background-size: cover;
    inset:0;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:-1;
}
