{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lina's - Makeup Website Template</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{%static 'myapp/img/favicon.ico'%}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/fcf05e76e7.js" crossorigin='anonymous'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{%static 'myapp/lib/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{%static 'myapp/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{%static 'myapp/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'myapp/css/style.css'%}" rel="stylesheet">
    <link href="{%static 'myapp/css/makeup.css'%}" rel="stylesheet">
    <link href="{%static 'myapp/fontawesome/css/all.min.css'%}" rel="stylesheet">
    <link href="{%static 'myapp/css/makeup.css'%}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid top-bar bg-dark text-light px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Bridal Makeup</a></li>
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Service</a></li>
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Contact</a></li>
                </ol>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small>Follow us:</small>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fa-brands fa-facebook" style="color: #f74222;"></i></a>
                    <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fa-brands fa-twitter" style="color: #f74222;"></i></a>
                    <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fa-brands fa-linkedin-in" style="color: #f74222;"></i></a>
                    <a class="btn-lg-square text-primary pe-0" href=""><i class="fa-brands fa-instagram" style="color: #f74222;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text-primary m-0"><font color="red" font face="papyrus"><b>Lina's Makeup Studio</b></font></h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto p-4 p-lg-0">
                <a href="{% url 'index'%}" class="nav-item nav-link active"><b>Home</b></a>
                <a href="{% url 'about'%}" class="nav-item nav-link"><b>About Us</b></a>
                <a href="{% url 'service'%}" class="nav-item nav-link"><b>Services</b></a>
                <a href="{% url 'product'%}" class="nav-item nav-link"><b>Products</b></a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><b>Pages</b></a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'team'%}" class="dropdown-item">Our Team</a>
                        <a href="{% url 'testimonial'%}" class="dropdown-item">Testimonial</a>
                        <a href="{% url 'error'%}" class="dropdown-item">404 Page</a>
                    </div>
                </div>
                <a href="{% url 'contact'%}" class="nav-item nav-link"><b>Contact</b></a>
            </div>
            <div class=" d-none d-lg-flex">
                <div class="flex-shrink-0 btn-lg-square border border-light rounded-circle">
                    <i class="fa-solid fa-phone" style="color: #f74222;"></i>
                </div>
                <div class="ps-3">
                    <small class="text-primary mb-0"><font color="#f74222"><b>Call Us</b></font></small>
                    <p class="text-light fs-5 mb-0"><b>+91 63741 60570</b></p>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{%static 'myapp/img/brideblur.png'%}">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8">
                                <h1 class="title"><font face="pacifico">The Best Glam Begins Here</h1>
                                <h1 class="span">
                                    <span>Your</span>
                                    <span>Dream</span>
                                    <span>Look,</span>
                                    <span>Our</span>
                                    <span>Expertise</span>
                                </font></h1>
                                <h1 class="quotes">Bridal, Party & HD Makeup Crafted With Elegance</h1>
                                <a href="" class="btn btn-primary rounded-pill py-3 px-5">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Facts Start -->
    <font face="montserrat">
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5" style="border-style:solid;border-radius:25px;border-color:gray">
                        <i class="fa-solid fa-certificate" style="color: #f8470d; font-size: 76px;"></i>
                        <p class="mb-2">Years Experience</p>
                        <h1 class="display-5 mb-0" data-toggle="counter-up">5</h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5"style="border-style:solid;border-radius:25px;border-color:gray">
                        <i class="fa-solid fa-users" style="color: #f5450a; font-size: 76px"></i>
                        <p class="mb-2">Customer</p>
                        <h1 class="display-5 mb-0" data-toggle="counter-up">200</h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5" style="border-style:solid;border-radius:25px;border-color:gray">
                        <i class="fa-solid fa-calendar-check" style="color: #ee4217; font-size: 76px;"></i>
                        <p class="mb-2">Total Bookings</p>
                        <h1 class="display-5 mb-0" data-toggle="counter-up">300</h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.7s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5" style="border-style:solid;border-radius:25px;border-color:gray">
                        <i class="fa-solid fa-person" style="color: #f04419; font-size: 76px;"></i>
                        <p class="mb-2">Trainer</p>
                        <h1 class="display-5 mb-0" data-toggle="counter-up">10</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </font>
    <!-- Facts End -->


    <!-- About Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row img-twice position-relative h-100">
                        <div class="col-6">
                            <img src="{%static 'myapp/img/anuakkamrg.jpg'%}"style="border-radius:25px;box-shadow:2px 4px 6px 8px rgb(7, 7, 7,0.9); height:550px;width:300px;">
                        </div>
                        <div class="col-6 align-self-end"><br><br><br><br>
                            <img src="{%static 'myapp/img/bride.jpg'%}" style="border-radius:25px;box-shadow:2px 4px 6px 8px rgb(7, 7, 7,0.9);height:500px;width:300px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h2 class="text-primary text-uppercase mb-2" align="center"><font face="jokkerman">About Us</font></h2>
                        <h1 class="span1"><font face="jokkerman">
                            <span>Where Every</span>
                            <span>Look Is</span>
                            <span>Crafted With</span>
                            <span>Love &</span>
                            <span>Precision</span>
                        </font></h1>
                        <font face="garamond">
                        <p>Lina's Makeup Studio Is Dedicated to Enchancing Your Natural Beauty With Professional Techniques & High-Quality Products. With Years Of Experience In Bridal, Party, HD, & Airbrush Makeup, We Ensure Every Client Feels Confident, Elegant, And Picture-Perfect.</p>
                        <p> We Believe Makeup Isn't Just A Look -- It's An Experience. From Soft Glam To Full Bridal Transformations, Every Service Is Customized To Match Your Style And Occasion.</p>
                        <div class="row g-2 mb-4">
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Premium Products
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Saree Drapping
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Friendly Consultation
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Affordable Packages
                            </div>
                        </div>
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="">Explore More</a></font>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Product Start -->
    <div class="container-xxl bg-light my-6 py-6 pt-0">
        <div class="container">
            <div class="bg-primary text-light rounded-bottom p-5 my-6 mt-0 wow fadeInUp" data-wow-delay="1.0" style="border-color:rgb(228, 105, 4);">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="display-4 text-light mb-0"><font face="garamond">The Best Makeup Spot In Your City</font></h1>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <div class="d-inline-flex align-items-center text-start">
                            <i class="fa fa-phone-alt fa-4x flex-shrink-0"></i>
                            <div class="ms-4">
                                <p class="fs-5 fw-bold mb-0"><font face="garamond">Call Us</font></p>
                                <p class="fs-1 fw-bold mb-0"><font face="garamond">+91 63741 60570</font></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h2 class="text-primary text-uppercase mb-2" align="center"><font face="jokkerman">Makeup</font></h2>
                <h1 class="display-6 mb-4"><font face="garamond">Explore The Categories Of Our Makeup Products</font></h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="height:450px;width:430px;">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100" style="border-style:solid;border-radius:25px;border-color:gray;height:30px;">
                        <div class="text-center p-4">
                            <h3 class="mb-3"><font face="garamond">Makeup Kit</font></h3>
                            <span><font face="garamond" color="orange">Perfect Glam Starts With The Perfect Kit</font></span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img src="{%static 'myapp/img/makeupkit2.webp'%}" style="height:300px;width:500px;">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="height:450px;width:430px;">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100" style="border-style:solid;border-radius:25px;border-color:gray;">
                        <div class="text-center p-4">
                            <h3 class="mb-3"><font face="garamond">Hair Products</font></h3>
                            <span><font face="garamond" color="orange">Your Perfect Hair Care Products</font></span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img src="{%static 'myapp/img/hair products.avif'%}" style="height:300px;width:500px;">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="height:450px;width:430px;">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100" style="border-style:solid;border-radius:25px;border-color:gray">
                        <div class="text-center p-4">
                            <h4 class="mb-3"><font face="garamond">Accessories</font></h4>
                            <span><font face="garamond" color="orange">Complete Your Glam With The Right Tools</font></span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img src="{%static 'myapp/img/bride acc.avif'%}" style="height:300px;width:500px;">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product End -->


    <!-- Service Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h2 class="text-primary text-uppercase mb-2" align="center"><font face="jokkerman">Our Services</font></h2>
                    <h1 class="span1"><font face="garamond">
                    <span>What</span>
                    <span> We </span>
                    <span>Offer</span>
                    <span>For</span>
                    <span>You?</span>
                </font></h1>
                    <p class="mb-5"><font face="garamond">We Offer Professional Bridal, Party, Photoshot, & HD Makeup. Every Look Is Customized To Make You Feel Confident, Elegant,& Flawless.</font></p>
                    <div class="row gy-5 gx-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa-solid fa-person" style="color: #f54324; font-size:25px;"></i>
                                </div>
                                <h5 class="mb-0"><font face="garamond">Bridal Makeup</font></h5>
                            </div>
                            <span><font face="garamond">Saree Drapping & Hairstyle Included</font></span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa-solid fa-photo-film" style="color:#f54324;"></i>
                                </div>
                                <h5 class="mb-0"><font face="garamond">Photoshoot Makeup</font></h5>
                            </div>
                            <span><font face="garamond">Portfolio, Fashion, & Social Media Shoots</font></span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa-solid fa-house" style="color:#f54324;"></i>
                                </div>
                                <h5 class="mb-0"><font face="garamond">Venue Service</font></h5>
                            </div>
                            <span><font face="garamond">Makeup & Hair Services At Client's Location</font></span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa-solid fa-briefcase" style="color: #f54324;"></i>
                                </div>
                                <h5 class="mb-0"><font face="garamond">Special Packages</font></h5>
                            </div>
                            <span><font face="garamond">Bridal Packages, Party Packages, Group Bookings</font></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row img-twice position-relative h-100">
                        <div class="col-6">
                            <img src="{%static 'myapp/img/amcouple.jpg'%}" style="border-radius:25px;box-shadow:2px 4px 6px 8px rgb(7, 7, 7,0.9);height:525px;width:300px;">
                        </div>
                        <div class="col-6 align-self-end"><br><br>
                            <img src="{%static 'myapp/img/lince.jpg'%}"style="border-radius:25px;box-shadow:2px 4px 6px 8px rgb(7, 7, 7,0.9);height:525px;width:300px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Team Start -->
    <font color="white">
    <div class="container-xxl py-6">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h2 class="text-primary text-uppercase mb-2" align="center"><font face="jokkerman">Our Team</font></h2>
                <h1 class="span1"><font face="garamond">
                <span>Masters</span>
                <span>In The</span>
                <span>Craft </span>
                <span>Of</span>
                <span>Glamour</span>
            </font></h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item text-center rounded overflow-hidden" style="border-style:solid;border-radius:25px;border-color:black;box-shadow:2px 4px 6px 8px rgb(7, 7, 7,0.9);">
                        <img src="{%static 'myapp/img/jonzi.jpg'%}" style="height:300px;width:300px;">
                        <div class="team-text">
                            <div class="team-title">
                                <h5><font face="garamond"color="white">Jonzi</font></h5>
                                <span><font face="garamond">Junior Makeup Artist</font></span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item text-center rounded overflow-hidden" style="border-style:solid;border-radius:25px;border-color:black;box-shadow:2px 4px 6px 8px rgb(7, 7, 7,0.9);">
                        <img src="{%static 'myapp/img/serolinapic.jpg'%}" style="height:300px;width:300px;">
                        <div class="team-text">
                            <div class="team-title">
                                <h5><font face="garamond" color="white">Serolina</font></h5>
                                <span><font face="garamond">Hair & Makeup Artist</font></span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item text-center rounded overflow-hidden" style="border-style:solid;border-radius:25px;border-color:black;box-shadow:2px 4px 6px 8px rgb(7, 7, 7,0.9);">
                        <img src="{%static 'myapp/img/berlin.jpg'%}" style="height:300px;width:300px;">
                        <div class="team-text">
                            <div class="team-title">
                                <h5><font face="garamond" color="white">Berlin</font></h5>
                                <span><font face="garamond">Founder & Lead Makeup Artist</font></span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item text-center rounded overflow-hidden" style="border-style:solid;border-radius:25px;border-color:black;box-shadow:2px 4px 6px 8px rgb(7, 7, 7,0.9);">
                        <img src="{%static 'myapp/img/nish.jpg'%}" style="height:300px;width:300px;">
                        <div class="team-text">
                            <div class="team-title">
                                <h5><font face="garamond" color="white">Nisha</font></h5>
                                <span><font face="garamond">Senior Makeup Artist</font></span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </font>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-xxl bg-light my-6 py-6 pb-0" style="border-style:double;border-radius:15px;border-color:2px solid gray">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h2 class="text-primary text-uppercase mb-2" align="center"><font face="jokkerman">Client's Review</font></h2>
                <h1 class="span1"><font face="garamond">
                    <span>More</span>
                    <span>Than</span>
                    <span>20000+</span>
                    <span>Customers</span>
                    <span>Trusted Us</span>
                </font></h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item bg-white rounded p-4"style="border-style:dashed;border-radius:20px;border-color:gray">
                    <div class="d-flex align-items-center mb-4">
                        <img class="flex-shrink-0 rounded-circle border p-1" src="{%static 'myapp/img/jeni.jpg'%}">
                        <div class="ms-4">
                            <h5 class="mb-1"><font face="garamond">Hannah</font></h5>
                            <span><font face="garamond">MNC Employee</font></span>
                        </div>
                    </div>
                    <p class="mb-0"><font face="garamond">Professional, Talented, And Friendly - My Party Makeup Was Flawless And Long-Lasting</font></p>
                </div>
                <div class="testimonial-item bg-white rounded p-4" style="border-style:dashed;border-radius:20px;border-color:gray">
                    <div class="d-flex align-items-center mb-4">
                        <img class="flex-shrink-0 rounded-circle border p-1" src="{%static 'myapp/img/george.jpg'%}">
                        <div class="ms-4">
                            <h5 class="mb-1"><font face="garamond">George</font></h5>
                            <span><font face="garamond">Google Employee</font></span>
                        </div>
                    </div>
                    <p class="mb-0"><font face="garamond">Highly Recommended Lina's Makeup Studio For Any Event - They Truly Bring Out Your Best Look</font></p>
                </div>
                <div class="testimonial-item bg-white rounded p-4" style="border-style:dashed;border-radius:20px;border-color:gray">
                    <div class="d-flex align-items-center mb-4">
                        <img class="flex-shrink-0 rounded-circle border p-1" src="{%static 'myapp/img/raji.jpg'%}">
                        <div class="ms-4">
                            <h5 class="mb-1"><font face="garamond">Maha Raja</font></h5>
                            <span><font face="garamond">Ranv Owner</font></span>
                        </div>
                    </div>
                    <p class="mb-0"><font face="garamond">Expert Team, Premium Products, And A Stress-Free Experience - Couldn't Ask For More</font></p>
                </div>
                <div class="testimonial-item bg-white rounded p-4" style="border-style:dashed;border-radius:20px;border-color:gray">
                    <div class="d-flex align-items-center mb-4">
                        <img class="flex-shrink-0 rounded-circle border p-1" src="{%static 'myapp/img/sri.jpg'%}">
                        <div class="ms-4">
                            <h5 class="mb-1"><font face="garamond">Srikanth</font></h5>
                            <span><font face="garamond">TCS Employee</font></span>
                        </div>
                    </div>
                    <p class="mb-0"><font face="garamond">They Customized My Look Exactly To My Style & Occasion - Simply Amazing!</font></p>
                </div>
                <div class="testimonial-item bg-white rounded p-4" style="border-style:dashed;border-radius:20px;border-color:gray">
                    <div class="d-flex align-items-center mb-4">
                        <img class="flex-shrink-0 rounded-circle border p-1" src="{%static 'myapp/img/winciya.jpg'%}">
                        <div class="ms-4">
                            <h5 class="mb-1"><font face="garamond">Winciya</font></h5>
                            <span><font face="garamond">Zoho Employee</font></span>
                        </div>
                    </div>
                    <p class="mb-0"><font face="garamond">The Makeup Stayed Perfcet All Day, & I Recived So Many Compliments On My Lokk </font></p>
                </div>
            </div>
            <div class="bg-primary text-light rounded-top p-5 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1 class="display-4 text-light mb-0"><font face="jokkerman">Join Our Community</font></h1>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <div class="position-relative">
                            <input class="form-control bg-transparent border-light w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-dark py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
    <!-- Testimonial End -->

<!-- Footer Start -->
 <font face="garamond">
    <div class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Office Address</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Toovipuram, Tamilnadu, India</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 63741 60570</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>lina'smakeupstudio@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Our Services</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Support</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Our Services</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Support</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Photo Gallery</h4>
                    <div class="row g-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{%static 'myapp/img/hariniakka.jpg'%}">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{%static 'myapp/img/snowpic.jpg'%}">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{%static 'myapp/img/hariniakka1.jpg'%}">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{%static 'myapp/img/snow2.jpg'%}">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{%static 'myapp/img/am.jpg'%}">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="{%static 'myapp/img/seetha.jpg'%}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </font><br><br><br><br>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">lina'smakeupstudio</a>&nbsp;, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">Serolina</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{%static 'myapp/lib/wow/wow.min.js'%}"></script>
    <script src="{%static 'myapp/lib/easing/easing.min.js'%}"></script>
    <script src="{%static 'myapp/lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{%static 'myapp/lib/counterup/counterup.min.js'%}"></script>
    <script src="{%static 'myapp/lib/owlcarousel/owl.carousel.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{%static 'myapp/js/main.js'%}"></script>
</body>

</html>